pkgbase = codex-id-lab-unofficial-bin
	pkgdesc = Codex I+D Lab - Unofficial
	pkgver = 26.908.40834
	pkgrel = 2
	url = https://github.com/0xCyberBerserker/codex-id-lab-unofficial
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = cups
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = libdrm
	depends = libnotify
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	depends = nodejs
	depends = curl
	depends = jq
	depends = github-cli
	depends = desktop-file-utils
	optdepends = pyside6: native Qt companion
	optdepends = spectacle: OCR and QR capture
	optdepends = tesseract: OCR
	optdepends = tesseract-data-eng: English OCR
	optdepends = tesseract-data-spa: Spanish OCR
	optdepends = zbar: QR decoding
	provides = codex-id-lab-unofficial
	provides = codex-ui-linux-port
	conflicts = codex-id-lab-unofficial
	conflicts = codex-ui-linux-port
	replaces = codex-ui-linux-port
	options = !strip
	options = !debug
	source = codex-id-lab-unofficial-bin-26.908.40834-2-x86_64.pkg.tar.zst::https://github.com/0xCyberBerserker/codex-id-lab-unofficial/releases/download/v26.908.40834-2/codex-id-lab-unofficial-26.908.40834-2-x86_64.pkg.tar.zst
	sha256sums = 77783bc0f1bf622b1544b3414054b22a21db433af394a0978c97fe5c71dc86b8

pkgname = codex-id-lab-unofficial-bin
